# how to create python panadas Dat Frame

In [2]:
import pandas as pd

In [4]:
empty_df=pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [5]:
list1=[1,2,3]
print(list1)

[1, 2, 3]

In [6]:
df1=pd.DataFrame(list1)
print(df1)

   0
0  1
1  2
2  3

In [7]:
df1

   0
0  1
1  2
2  3

In [8]:
list_of_list=[[1,2,3],[4,5,6],[7,8,9]]
print(list_of_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
df2=pd.DataFrame(list_of_list)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [13]:
dict1={'ID':[11,12,13,14]}
print(dict1)

{'ID': [11, 12, 13, 14]}

In [14]:
dict2={'ID':[11,12,13,14],'SN':[1,2,3,4]}
print(dict2)

{'ID': [11, 12, 13, 14], 'SN': [1, 2, 3, 4]}

In [15]:
df3=pd.DataFrame(dict1)
print(df3)

   ID
0  11
1  12
2  13
3  14

In [16]:
df4=pd.DataFrame(dict2)
print(df4)

   ID  SN
0  11   1
1  12   2
2  13   3
3  14   4

In [17]:
list_dict=[{'a':1,'b':2},{'a':3,'b':4}]
df5=pd.DataFrame(list_dict)
print(df5)

   a  b
0  1  2
1  3  4