In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('D:\\Learning\\Pandas\\Companies_isnull.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,$11757018,6482465 Dollars,5274553,30%
1,2,Stripfind,Financial Services,2010,$12329371,916455 Dollars,11412916,20%
2,3,CaneCorporation,Health services,2012,$10597009,7591189 Dollars,6597557,9%
3,4,MatTouch,health services,2013,$14026934,7429377 Dollars,3138627,NaN
4,5,TechDrill,Financial Services,2009,$11757018,916455 Dollars,11412916,NaN
5,6,TechLine,Plumbing services,2006,$12329371,6482465 Dollars,11412916,23%
6,7,CityAce,NaN,2010,$11757018,916455 Dollars,11412916,6%
7,8,KeyElectronics,Financial Services,2009,$12329371,6482465 Dollars,11412916,4%
8,9,Ganzlax,NaN,2011,$11757018,916455 Dollars,11412916,18%
9,10,TranTaxlax,Financial Services,2011,$12329371,6482465 Dollars,11412916,7%

In [7]:
df.isnull()

      ID   Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  False  False     False      False    False     False   False   False
1  False  False     False      False    False     False   False   False
2  False  False     False      False    False     False   False   False
3  False  False     False      False    False     False   False    True
4  False  False     False      False    False     False   False    True
5  False  False     False      False    False     False   False   False
6  False  False      True      False    False     False   False   False
7  False  False     False      False    False     False   False   False
8  False  False      True      False    False     False   False   False
9  False  False     False      False    False     False   False   False

In [8]:
df.isnull().sum()

ID           0
Name         0
Industry     2
Inception    0
Revenue      0
Expenses     0
Profit       0
Growth       2
dtype: int64

In [9]:
df.isnull().sum().sum()

4

In [12]:
import numpy as np
sr=pd.Series([1,2,3,np.nan,4,np.nan])
sr

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    NaN
dtype: float64

In [13]:
sr.isnull()

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [14]:
sr.isnull().sum()

2